* {
    padding: 0px 0px;
    margin: 0;
}
h1 {
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
    color: #330711;
    padding: 30px 50px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #DCF6EF;
    font-size: 16px;
 
    
 
}

p , li {
    align-items: center;
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
    text-align: center;
    padding: 30px 50px;
}

#minhaimagem {
    display: block;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

}
 
a {
    font-size: 1.5em
}

#quem-sou-eu {
    /* border: 2px solid black; */
    width: 80%;
    margin: auto;
    text-align: justify;
}

h3.habilities {
    text-align: left;
    margin-left: 150px;
}

ul li , a[href="https://tecnoblog.net/"]{
    /* border: 3px solid green; */
    width: 80%;
    margin-left: 250px;
    margin-bottom: 15px;
}

.links {
    /* border: 3px solid yellow; */
    display: inline-block;
    text-align: center;
    padding: 10px;
}
.todos-links {
    /* border: 3px solid red; */
    max-width: 80%;
    text-align: center;
    margin: auto;
}

/* a[href="https://tecnoblog.net/"]{
    border: 3px solid brown; 
    margin-left: 250px;
} */